<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="File" value="CrawlerLog.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d %m%n"/>
      </layout>
    </appender>
    <root>
      <priority value="Warn"/>
      <appender-ref ref="rollingFile"/>
    </root>
  </log4net> 
  <appSettings>
    <add key="DbConnString" value="server=TESTSERVER\SQL2008R2;database=JytWebSite;uid=sa;pwd=123"/>
    <add key="DbServerPath" value="D:\\project\\jytWebsite\\20120906\\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <applicationSettings>
    <Test.Properties.Settings>
      <setting name="Test_ActService_ActService" serializeAs="String">
        <value>http://www.jyt360.com.cn/WebService/ActService.asmx</value>
      </setting>
    </Test.Properties.Settings>
  </applicationSettings>
</configuration>
